@import url(http://fonts.googleapis.com/css?family=Bubbler+One);
/* line 36, ../scss/example2.scss */
.front-slides-example2 {
  width: 900px;
  height: 300px;
  margin: 0;
  position: absolute;
  overflow: hidden;
}
/* line 43, ../scss/example2.scss */
.front-slides-example2 li {
  list-style: none;
  border: 2px solid white;
  height: 296px;
  width: 108.5px;
  position: absolute;
  left: 0;
  z-index: 2;
  -webkit-transition-property: width, left;
  -moz-transition-property: width, left;
  -o-transition-property: width, left;
  transition-property: width, left;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 54, ../scss/example2.scss */
.front-slides-example2 li:hover {
  width: 200px;
  z-index: 3;
}
/* line 58, ../scss/example2.scss */
.front-slides-example2 li:hover h4 {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  bottom: 10px;
  right: 10px;
}
/* line 66, ../scss/example2.scss */
.front-slides-example2 li h4 {
  position: absolute;
  bottom: 0;
  right: 10px;
  display: block;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  font-family: 'Bubbler One', sans-serif;
  color: white;
  font-size: 32px;
  -webkit-transform-origin: top right;
  -moz-transform-origin: top right;
  -ms-transform-origin: top right;
  -o-transform-origin: top right;
  transform-origin: top right;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition-property: -webkit-transform, right, bottom;
  -moz-transition-property: -moz-transform, right, bottom;
  -o-transition-property: -o-transform, right, bottom;
  transition-property: transform, right, bottom;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 84, ../scss/example2.scss */
.front-slides-example2 li img {
  height: 100%;
  border: 0;
}
/* line 92, ../scss/example2.scss */
.front-slides-example2 .slide-2 {
  left: 112.5px;
}
/* line 101, ../scss/example2.scss */
.front-slides-example2 .slide-2:hover {
  left: 66.75px;
}
/* line 92, ../scss/example2.scss */
.front-slides-example2 .slide-3 {
  left: 225px;
}
/* line 101, ../scss/example2.scss */
.front-slides-example2 .slide-3:hover {
  left: 179.25px;
}
/* line 92, ../scss/example2.scss */
.front-slides-example2 .slide-4 {
  left: 337.5px;
}
/* line 101, ../scss/example2.scss */
.front-slides-example2 .slide-4:hover {
  left: 291.75px;
}
/* line 92, ../scss/example2.scss */
.front-slides-example2 .slide-5 {
  left: 450px;
}
/* line 101, ../scss/example2.scss */
.front-slides-example2 .slide-5:hover {
  left: 404.25px;
}
/* line 92, ../scss/example2.scss */
.front-slides-example2 .slide-6 {
  left: 562.5px;
}
/* line 101, ../scss/example2.scss */
.front-slides-example2 .slide-6:hover {
  left: 516.75px;
}
/* line 92, ../scss/example2.scss */
.front-slides-example2 .slide-7 {
  left: 675px;
}
/* line 101, ../scss/example2.scss */
.front-slides-example2 .slide-7:hover {
  left: 629.25px;
}
/* line 92, ../scss/example2.scss */
.front-slides-example2 .slide-8 {
  left: 787.5px;
}
/* line 101, ../scss/example2.scss */
.front-slides-example2 .slide-8:hover {
  left: 741.75px;
  left: 696px;
}
