@import "compass/css3/transition";
@import "compass/css3/transform";
// Fancy font for slide titles
@import url(http://fonts.googleapis.com/css?family=Bubbler+One);

// Width of one image in a "closed" state (initial state)
$slide-width-closed: $slides-width / $number-of-slides - ($slide-border-width*2);

// The UL element
.#{$slides-class-name} {
  width: $slides-width;
  height: $slides-height;
  margin: 0;
  position: absolute;
  overflow: hidden;

  $slide-li-height: $slides-height - ($slide-border-width*2);
  li {
	list-style: none;
	border: $slide-border-width solid $color-slide-border;
	height: $slide-li-height;
	width: $slide-width-closed;
	position: absolute;
	left: 0;
	z-index: 2;
	@include transition-property(width, left);
	@include transition-duration(1s);
	overflow: hide;

	// When the image is in "open" state (hover)
	&:hover {
	  width: $slide-width-open;
	  z-index: 3;

	  h4 {
		@include rotate(0deg);
		bottom: 10px;
		right: 10px;
	  }

	  img {
		clip: auto;
		margin: 0;

		// Stretch the image to fill container slide dimensions
		@if $slide-stretch-open {
		  height: 100%;
		  width: $slide-width-open;
		}
	  }
	}

	// Slide title (h4)
	h4 {
	  position: absolute;
	  bottom: 0;
	  right: 10px;
	  display: block;
	  white-space: nowrap;
	  margin: 0;
	  padding: 0;
	  font-family: 'Bubbler One', sans-serif;
	  color: $color-slide-title;
	  font-size: $slide-title-size;
	  @include apply-origin(top right, false);
	  @include rotate(90deg);
	  @include transition-property(transform, right, bottom);
	  @include transition-duration(1s);
	}

	$slide-clip-offset-x: 100px;
	$slide-clip-offset-y: 100px;

	// Slide image
	img {
	  max-width: none !important;
	  border: 0;

	  @if $slide-stretch-closed {
		width: 100%;
		height: 100%;
	  } @else {
		position: absolute;
		margin-left: $slide-clip-offset-x * -1;
		margin-top: $slide-clip-offset-y * -1;
		clip: rect($slide-clip-offset-y, $slide-width-closed+$slide-clip-offset-x, $slide-li-height+$slide-clip-offset-y, $slide-clip-offset-x);
	  }
	}
  }

  // Calculate left offset positions for each slide
  @for $i from 1 through $number-of-slides {
	.slide-#{$i} {
	  $width-multiplier: $i - 1;
	  $left-offset: $slide-width-closed * $width-multiplier + ($slide-border-width * 2 * $width-multiplier);

	  @if $i > 1 {
		left: $left-offset;
	  }

	  // Hover offset position
	  &:hover {
		@if $i > 1 {
		  left: $left-offset - ($slide-width-open - $slide-width-closed)/2;
		}
		@if $i == $number-of-slides {
		  left: $left-offset - ($slide-width-open - $slide-width-closed);
		}
	  }
	}
  }
}